In [1]:
import json
import os

dir_source = 'data_mentah'
dir_destination = 'data_mentah_filtered'

sources = ['Cnbcindonesia-market', 'Bisnis', 'Indopremier - Ipotnews', 'Investor', 'Kontan']

if not os.path.exists(dir_destination):
    os.makedirs(dir_destination)

for file in os.listdir(dir_source):
    if file.endswith('.json') and file != 'ALL.json':
        tmp = []
        print(file)
        f = open(os.path.join(dir_source, file))
        json_file = json.load(f)
        
        for idx in (json_file['data']):
            source_name = idx['meta']['source']['name']
            if source_name in sources:
                tmp.append(idx)
                
        with open(os.path.join(dir_destination, file), 'w') as outfile:
            json.dump(tmp, outfile, indent=1)
        
        f.close()

MNCN.json
INTP.json
WSKT.json
KLBF.json
ICBP.json
JSMR.json
INCO.json
UNVR.json
ADHI.json
ANTM.json
WIKA.json
ADRO.json
HMSP.json
BBRI.json
PGAS.json
SMGR.json
PTBA.json
TLKM.json
BBNI.json
BMRI.json
ASII.json
BBCA.json

In [2]:
import json
import os
import pandas as pd

dir_destination = 'data_mentah_filtered'
lst = []

for file in os.listdir(dir_destination):
    if file.endswith('.json') and file != 'ALL.json':
        f = open(os.path.join(dir_destination, file))
        json_file = json.load(f)
        lst.append((os.path.splitext(file)[0], len(json_file)))
        f.close()

pd.DataFrame(lst, columns=('Emiten', 'Jumlah Berita')).to_csv('jumlah_berita_emiten.csv')
pd.DataFrame(lst, columns=('Emiten', 'Jumlah Berita'))

   Emiten  Jumlah Berita
0    MNCN            112
1    INTP            163
2    WSKT            145
3    KLBF            236
4    ICBP            264
5    JSMR            188
6    INCO            427
7    UNVR            446
8    ADHI            119
9    ANTM            372
10   WIKA            151
11   ADRO            530
12   HMSP            222
13   BBRI            510
14   PGAS            303
15   SMGR            293
16   PTBA            378
17   TLKM            561
18   BBNI            548
19   BMRI            581
20   ASII            536
21   BBCA            600

In [3]:
import json
import os
import pandas as pd

dir_destination = 'data_mentah_filtered'
total = 0

for file in os.listdir(dir_destination):
    if file.endswith('.json') and file != 'ALL.json':
        f = open(os.path.join(dir_destination, file))
        json_file = json.load(f)
        total += len(json_file)
        f.close()

print(total)

7685

In [4]:
import json
import os
import pandas as pd

dir_destination = 'data_mentah_filtered'
data_list = []

for file in os.listdir(dir_destination):
    if file.endswith('.json') and file != 'ALL.json':
        f = open(os.path.join(dir_destination, file))
        json_file = json.load(f)
        data_list.append(json_file)

        f.close()
        
merged_data = []
for data in data_list:
    merged_data.extend(data)

with open(os.path.join(dir_destination, 'ALL.json'), 'w') as f:
    json.dump(merged_data, f, indent=1)
    print(os.path.join(dir_destination, 'ALL.json')+' created.')

f.close()

data_mentah_filtered/ALL.json created.

In [5]:
import json
import pandas as pd

f = open('data_mentah_filtered/ALL.json')
file = json.load(f)

sources = ['Cnbcindonesia-market', 'Bisnis', 'Indopremier - Ipotnews', 'Investor', 'Kontan']
total = [0, 0, 0, 0, 0]
lst = []

for i in file:
    for j in range(len(sources)):
        if (i['meta']['source']['name'] == sources[j]):
            total[j] += 1

sources[0] = 'CNBC Indonesia'
sources[2] = 'Indopremier'
sources[3] = 'Investor Daily'

for i in range(len(sources)):
    lst.append((sources[i], total[i]))

pd.DataFrame(lst, columns=('Sumber', 'Jumlah Berita')).to_csv('jumlah_berita_sumber.csv')
pd.DataFrame(lst, columns=('Sumber', 'Jumlah Berita'))

           Sumber  Jumlah Berita
0  CNBC Indonesia            827
1          Bisnis            629
2     Indopremier           3306
3  Investor Daily            401
4          Kontan           2522